<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h1 class="masthead-brand">Duty Calculator</h1>
            <h2>Enter Info</h2>

        </div>
    </header>
<div id="dutyCalculator">
    <main role="main" class="inner cover">
        {{!-- JOHN: THIS IS THE PART YOU UPDATE --}}
<p>This is text John would upate</p>
{{!-- THIS IS THE END OF THE PART YOU UPDATE, DON"T DO ANYTHING BELOW THIS COMMENT --}}
        <form class="login needs-validation" id="mainForm" novalidate="" method="post">
            <div class="form-group row">
                <label for="countryCode" class="col-sm-2 col-form-label">Country Code </label>
                <div class="col-sm-10">
                    <input type="text" name="countryCode" class="form-control inputlogin" required="">
                    <div class="invalid-tooltip">
                        country code is required
                         </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputItem" class="col-sm-2 col-form-label">Item</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control inputlogin" name="inputItem" id="inputItem" placeholder="item" required="">
                    <div class="invalid-tooltip">
                       item name is required
                    </div>
                </div>

            </div>
            <input type="button" id="submitButton" value="find out your duty rate">
        </form>
        <div id="table">

        </div>





    </main>
</div>
{{!-- End duty calculator --}}
    <footer class="mastfoot mt-auto">
        <div class="inner">
            <div class="stargarnetReferral">
                <p>design by
                    <a target="blank" href="https://www.stargarnet.net/">Stargarnet LLC</a>
                </p>
            </div>
        </div>
    </footer>
</div>

{{!--
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->--}}
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
<script>
        //setup
    $(document).ready(function () {



                    $('#dutyCalculator').on('click', '#submitButton', function () {
                
                  
                        let package = $('#mainForm').serializeArray();

                        //package.push({ name: 'questionId', value: msg.questionId })
                        $.ajax({
                            url: "/dutycalculator/api",
                            data: package,
                            type: 'POST',
                            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                        }).done(function (msg) {
                            console.log('+++++++++++++++++++++++')
                           updateTable(msg);
                            console.log(msg)
                            alert(msg)
                        
                        })//end done
                            .fail(function (xhr, status, errorThrown) {
                                alert("Sorry, there was a problem!");
                                console.log("Error: " + errorThrown);
                                console.log("Status: " + status);
                                console.dir(xhr);
                            })
               
            
                });//end on submitButton
        example = [{
            other: '',
            indent: '0',
            description: 'Live horses, asses, mules and hinnies:',
            quotaQuantity: '',
            special: '',
            htsno: '0101',
            addiitionalDuties: '',
            footnotes: [],
            general: '',
            units: ''
        }]
    //EDIT THE DOM
    function updateTable(msg){
$('#table').empty();
            tableHTML = ` 
            <p>please select a tariff code</p>
                       <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">htsno</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody id="tableBody">

                </tbody>
            </table>`

            $('#table').html(tableHTML);
$.each(msg,function(index){
            let htsno = this.htsno;
            let description = this.description;
            
            let htmlId = "#itemDivId" + index;
            let thisRow = this;


            tableHTML = `
    <tr  id='#row${index}'>
      <th scope="row" id='#row${htsno}'>${htsno}</th>
      <td id='#row${description}'>${description}</td>
    </tr>`

            $('#tableBody').append(tableHTML);
})//end each
    }//end updateTable


     })//end document ready       
</script>