<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h1 class="masthead-brand">Duty Estimator</h1>
            <h2>Enter Info</h2>

        </div>
    </header>
    <div id="dutyCalculator">
        <main role="main" class="inner cover">
            <div id="jqueryContent"></div>


        </main>
    </div>
    {{!-- End duty calculator --}}
    <footer class="mastfoot mt-auto">
        <div class="inner">
            <div class="stargarnetReferral">
                <p>design by
                    <a target="blank" href="https://www.stargarnet.net/">Stargarnet LLC</a>
                </p>
            </div>
        </div>
    </footer>
</div>

{{!--
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->--}}
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
<script>
    //setup
    $(document).ready(function () {
        resetContent()
        function resetContent() {
            $('#jqueryContent').off()
            $('#jqueryContent').empty()
            $('#answerStuff').empty()

            let html = `            <form class="login needs-validation" id="mainForm" novalidate="">
                  <div id="countrySelector">
                <div class="form-group row">
        
          <label for="exampleFormControlSelect1" class="col-sm-3 col-form-label">Select origin</label>
          <div class="col-sm-9">
    <select class="form-control inputlogin" id="exampleFormControlSelect1">
     {{#each countries}}
      <option>{{this}}</option>
      {{/each}}
    </select>
                        <div class="invalid-tooltip">
                            country code is required
                        </div>
                    </div>
                    </div>
                    </div>
                    {{!-- end country selector --}}
                    <div id="inputStuff">
                <div class="form-group row">
              
                    <label for="inputItem" class="col-sm-3 col-form-label">Item Description</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control inputlogin" name="inputItem" id="inputItem" placeholder="item"  required="" > 
                        {{!-- coffee value="6402.91.80.05" --}}
                        <div class="invalid-tooltip">
                            item name is required
                        </div>
                    </div>
                    </div>
          
                <input type="button" id="submitButton" value="find out your duty rate">
                </div>





            </form>
            <div id="table">

            </div>
<form class="login needs-validation" id="calculateForm" novalidate="">
<div id="answerStuff"></div>
<div id="calculateButtonDiv"></div>



</form



`
            $('#jqueryContent').html(html)
        }//end reset content

        $('#mainForm').submit(function (event) {
            event.preventDefault();
            console.log('inputItem submitted')
            $('#submitButton').click();
        })

        $('#dutyCalculator').on('click', '#submitButton', function () {
            if (($('#inputItem').val()) === '') {
                alert('must enter an item')
                return;
            }

            //let package = $('#mainForm').serializeArray();

            //package.push({ name: 'questionId', value: msg.questionId })

            $.ajax({
                url: "dutycalculator/api/searchHTS",
                data: 'searchTerm=' + $('#inputItem').val(),
                type: 'GET',
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            }).done(function (msg) {
                checkForMultipleTariffs(msg);


            })//end done
                .fail(function (xhr, status, errorThrown) {
                    alert("Sorry, there was a problem!");
                    console.log("Error: " + errorThrown);
                    console.log("Status: " + status);
                    console.dir(xhr);
                })
            //update the DOM to remove Item Description, find out your duty rate button
            //add reset button
            $('#inputStuff').empty()
            $('#inputStuff').html('<input type="button" id="resetButton" value="reset">')
            $('#inputStuff').on('click', '#resetButton', function () {
                resetContent()
            })

        });//end on submitButton
        //ititial tariff search, check if it has more than one part
        function checkForMultipleTariffs(msg) {
            if (!$.isArray(msg)) {
                alert('tariff api returned a non array value')
                return;
            }
            if (msg.length > 1) {
                updateTable(msg);
                return;
            }
            readyToCalculate(msg);

        }//end checkForMultipleTariffs

        //TWO PATHS, the user either gets only one tariff code, or the user gets more than one, if more than one, the user is presented with a table that they can use to narrow their search criteria. 

        //PATH 1
        //Narrow Search criteria
        //Display table of possible tariff codes for selection
        function updateTable(msg) {
            i = 0;
            $('#table').empty();
            tableHTML = `<br> 
            <p>please select a tariff code</p>
                       <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">HTSNO</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody id="tableBody">

                </tbody>
            </table>`

            $('#table').html(tableHTML);
            $.each(msg, function (index) {
                let htsno = this.htsno;
                let description = this.description;


                let htmlId = "#itemDivId" + index;
                let thisRow = this;
                let spacing = ''
                for (k = 0; k < this.indent; k++) {
                    spacing = spacing + '     '
                }

                tableHTML = `
    <tr  id='row${index}'>
      <th scope="row" id='th${htsno}'>${htsno}</th>
      <td id='td${description}' class="alignTableRight">${spacing}${description}</td>
    </tr>`

                $('#tableBody').append(tableHTML);
                //add link 
                /*
                $('#table').on('click', `#row${htsno}`, function () {
                                        $.ajax({
                                            url: "dutycalculator/api/searchHTS",
                                            data: 'searchTerm=' +htsno,
                                            type: 'GET',
                                            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                                        }).done(function (msg) {
                                            console.log('+++++++++++++++++++++++')
                                           checkForMultipleTariffs(msg);
                                            console.log(msg)
                
                                        
                                        })//end done
                                            .fail(function (xhr, status, errorThrown) {
                                                alert("Sorry, there was a problem!");
                                                console.log("Error: " + errorThrown);
                                                console.log("Status: " + status);
                                                console.dir(xhr);
                                            })
                                           
                console.log(i)
                })//end add link*/

                if (htsno != '') {


                    selector = `#row${index}`
                    $(selector).mouseenter(function () {
                        $(`#row${index}`).css({ 'color': 'blue' })
                    }).mouseout(function () {
                        $(`#row${index}`).css({ 'color': '' })
                    })
                    //.mouseleave(function(){
                    //     $(selector).css('color','red')
                    //})//end hover
                    $(selector).on('click', 'td, th', function () {
                        //get the correct user information
                        let searchTerm = htsno;
                        $.ajax({
                            url: "dutycalculator/api/searchHTS",
                            data: 'searchTerm=' + searchTerm,
                            type: 'GET',
                            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                        }).done(function (msg) {

                            checkForMultipleTariffs(msg);



                        })//end done
                            .fail(function (xhr, status, errorThrown) {
                                alert("Sorry, there was a problem!");
                                console.log("Error: " + errorThrown);
                                console.log("Status: " + status);
                                console.dir(xhr);
                            })

                    })//end click
                }//end if no htsno
                else {
                    selector = `#row${index}`
                    $(selector).css('font-weight', 'bold')
                }
            })//end each
        }//end updateTable


        //PATH 2
        //Calculate tariff value
        function readyToCalculate(msg) {
            //Now that things are getting serious, we need to add a handler to make sure that if the user changes the country value, it refires
            $('#countrySelector').off();
            $('#countrySelector').on('change', '#exampleFormControlSelect1', function () {
                getDuty(msg);

            })

            //go back to server
            getDuty(msg);

            function getDuty(msg) {
                $('#table').empty();
                $('#answerStuff').empty();
                $('#calculateButtonDiv').empty();
                $.ajax({
                    url: "dutycalculator/api/getDuty",
                    data: 'searchTerm=' + msg[0].htsno + '&origin=' + $('#exampleFormControlSelect1').val(),
                    type: 'GET',
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                }).done(function (RawTariff) {

                    ReadyToCalculatePartB(RawTariff, msg)




                })//end done
                    .fail(function (xhr, status, errorThrown) {
                        alert("Sorry, there was a problem!");
                        console.log("Error: " + errorThrown);
                        console.log("Status: " + status);
                        console.dir(xhr);
                    })

                function ReadyToCalculatePartB(RawTariff, msg) {
                    if (typeof RawTariff === 'undefined') {
                        console.log('RawTariff is undefined')
                        return;
                    }//end if msg is undefined.

                    let html = `<br>
                <p>Item HTSNO: ${msg[0].htsno}</p>
                <p id="ItemDescription">Item description: ${msg[0].description}</p>
                <br>
                <p>Duty on this item:  ${RawTariff}</p>
                `
                    $('#table').append(html)

                    //get info for item history:
                    $.ajax({
                        url: "dutycalculator/api/getHistory",
                        data: 'searchTerm=' + msg[0].htsno,
                        type: 'GET',
                        contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    }).done(function (history) {
                        console.log('+++++++++++++++++++++++')
                        $('#ItemDescription').after(history)

                        console.log(msg)


                    })//end done
                        .fail(function (xhr, status, errorThrown) {
                            alert("Sorry, there was a problem!");
                            console.log("Error: " + errorThrown);
                            console.log("Status: " + status);
                            console.dir(xhr);
                        })



                    selectCalculator(RawTariff);





                }//end ReadyToCalculatePartB

            }//end getDuty

        }//end readyToCalculate

        //build global variables for use later
        rateForFinalCalc = {};
        rateForFinalCalc.totalTariffAmount = 0;
        rateForFinalCalc.flag = false;

        function selectCalculator(RawTariff) {
            //Step 1, need to break up any + sign operators
            rates = RawTariff.split('+')
            console.log('Flag rates: ' + rates)

            console.log(rates)
            //do stuff to the rates
            $.each(rates, function (index) {
                rates[index] = rates[index].trim();
                if (rates[index] === 'Free') {
                    freeCalculator(RawTariff)
                }
                else if (rates[index].slice(-1) === '%') {
                    percentCalculator(rates[index])
                }
                else if (rates[index].indexOf('/') > -1) {
                    perAmountCalculator(rates[index])
                } else {
                    toComplicated();
                }

            })





        }//end selectCalculator




        function freeCalculator(RawTariff) {
            $('#table').append('<p>This item is free, no duty calculations necessary!</p>')
            $('#answerStuff').empty();
            $('#calculateButtonDiv').empty();
        }//end percentCalculator


        function percentCalculator(rate) {



            let html = `
<p>please enter the value of the item in USD</p>
            <div class="form-group row">
    <label for="valueOfItem" class="col-sm-3 col-form-label">Value of Item in USD</label>
     <div class="col-sm-9">
    <input type="number" class="form-control inputlogin" id="valueOfItem" name="valueOfItem" required>
      </div>
      </div>
      `
            $('#answerStuff').append(html)

            rateForFinalCalc.percentRate = rate.slice(0, -1);

            addCalculateButton();
        }//end percentCalculator






        function perAmountCalculator(rate) {
            //this needs work




            rateForFinalCalc.perAmountRate = {};
            rateForFinalCalc.perAmountRate.splitOnSlash = rate.split('/');
            rateForFinalCalc.perAmountRate.kindOfThing = rateForFinalCalc.perAmountRate.splitOnSlash[1];

            rateForFinalCalc.perAmountRate.amount = rateForFinalCalc.perAmountRate.splitOnSlash[0].slice(0, 0);
            //logic below adjust the amount based on currency
            if (rateForFinalCalc.perAmountRate.splitOnSlash[0].charAt(0) === '$') {
                rateForFinalCalc.perAmountRate.amount = rateForFinalCalc.perAmountRate.splitOnSlash[0].substr(1) //takes dollar sign off
                console.log('got inside dollar sign')
            }
            console.log(rateForFinalCalc.perAmountRate.splitOnSlash[0])
            if (rateForFinalCalc.perAmountRate.splitOnSlash[0].charAt(rateForFinalCalc.perAmountRate.splitOnSlash[0].length - 1) === '¢') {
                console.log('got to ¢')
                rateForFinalCalc.perAmountRate.amount = rateForFinalCalc.perAmountRate.splitOnSlash[0].substr(0, rateForFinalCalc.perAmountRate.splitOnSlash[0].length - 1) * .01//takes cents sign off and performs calculation

            }

            console.log('perAmountRate.kindOfThing: ' + rateForFinalCalc.perAmountRate.kindOfThing)
            console.log('perAmountRate.amount: ' + rateForFinalCalc.perAmountRate.amount)

            let html = `
    <p>please enter amount of item in ${rateForFinalCalc.perAmountRate.kindOfThing}</p>
    <div class="form-group row">
    <label for="amountOfItem" class="col-sm-3 col-form-label">Amount in ${rateForFinalCalc.perAmountRate.kindOfThing}</label>
    <div class="col-sm-9">
    <input type="number" class="form-control inputlogin" id="amountOfItem" name="amountOfItem" required>
    </div>
    </div>`
            $('#answerStuff').append(html)

            addCalculateButton();
        }//end perAmountCalculator
        function toComplicated() {
            $('#table').append('<p>This tariff code is to complicated for this calculator, please contact SteepleChase Customs Brokrage directly so we can help you out</p>')
        }//end too complicated

        //Actual calculations

        if (($('#valueOfItem').length = 1) || ($('#amountOfItem').length = 1)) {



            function addCalculateButton() {
                if ($('#calculateButton').length === 0) {

                    rateForFinalCalc.flag = true


                    $('#finialOutput').empty();
                    $('#calculateButtonDiv').append('<div id="finialOutput"></div> <input type="button" id="calculateButton" value="calculate"><p></p> ')
                    $('#calculateButtonDiv').on('click', '#calculateButton', function () {
                        rateForFinalCalc.totalTariffAmount = 0;
                        console.log('inside click calculateButton')
                        if ($('#valueOfItem').length === 1) {
                            console.log('got inside if percent value')
                            let valueOfItem = $('#valueOfItem').val();
                            rateForFinalCalc.totalTariffAmount = rateForFinalCalc.totalTariffAmount + ((valueOfItem / 100) * rateForFinalCalc.percentRate)
                            roundThis = rateForFinalCalc.totalTariffAmount;
                            roundThis.toFixed(2);
                            rateForFinalCalc.totalTariffAmount = roundThis;
                            console.log(rateForFinalCalc.totalTariffAmount)
                        }
                        if ($('#amountOfItem').length === 1) {
                            let amountOfItem = $('#amountOfItem').val();




                            rateForFinalCalc.totalTariffAmount = rateForFinalCalc.totalTariffAmount + ((amountOfItem) * rateForFinalCalc.perAmountRate.amount)
                            roundThis = rateForFinalCalc.totalTariffAmount;
                            roundThis.toFixed(2);
                            rateForFinalCalc.totalTariffAmount = roundThis;
                        }
                        roundThis = rateForFinalCalc.totalTariffAmount;
                        roundThis = roundThis.toFixed(2);
                        rateForFinalCalc.totalTariffAmount = roundThis;
                        $('#finialOutput').empty();
                        let finialOutHTML = `<p>tariff amount: $${rateForFinalCalc.totalTariffAmount}</p>`
                        $('#finialOutput').append(finialOutHTML);

                    })//end click calculate 
                }//end if we don't have a calculator button

            }

        }//end check if valueOfItem or amountOfItem
    })//end document ready       
</script>